.timer {
  font-size: 100px;
}

.hour, .minutes, .seconds {
  width: 45px;
}

label {
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  border: red solid 1px;
}

.button-vai {
margin-top: 20px;
}

